body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  border: px solid black;
}

.nav-container {
  border: 1px solid grey;
  padding: 5px;
  margin: 10px;
  background-color: lightgray;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-item {
  padding: left 20px;
  text-decoration: none;
  line-height: 35px;
  padding: 4px;
  margin: 5px;
  color: blue;
  font-weight: 600;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: whitesmoke;
}

.nav-container .nav-item:hover {
  color: gray;
}

.h1-header-title {
  text-align: center;
  padding-top: 20px;
}

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
}
