.header {
  border: px solid black;
}

.nav-container {
  border: 1px solid red;
  padding: 20px;
  margin: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-item {
  padding-left: 10px;
}
