body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  border: px solid black;
}

.nav-container {
  border: 1px solid grey;
  padding: 5px;
  margin: 10px;
  background-color: lightgray;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-item {
  padding: left 20px;
  text-decoration: none;

  padding: 1px;
  margin: 5px;
  color: blue;
  font-weight: 600;
}

.nav-container .nav-item:hover {
  color: gray;
}

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }
}
